<html>
<head>
    <title>Super Tabasco Example</title>
    <link href="/styles/site.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
    <h1>Ahoy, @Model.Name!</h1>
    <a href="/doctor/@NRack.Utils.Escape(Model.Name)">Click to see your secret message.</a>
</body>
</html>