<configuration>
	<system.web>
		<httpHandlers>
			<add verb="*" path="*" type="NRack.Hosting.AspNet.AspNetHandler"/>
		</httpHandlers>
		<compilation debug="true" targetFramework="4.0"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true"/>
		<handlers>
			<add name="RackHandler" verb="*" path="*" type="NRack.Hosting.AspNet.AspNetHandler"/>
		</handlers>
	</system.webServer>
</configuration>
